body{
	background-color: white;
	color: black;
	
}

#login {
    background-image: url("img/sits_large_noborder.png");
	display: block;
    float: right;
    height: 43px;
    margin: 10px;
    width: 114px;
}

#logout {
	display: block;
    float: right;
    height: 43px;
    margin: 10px;
    width: 190px;
}

#logout a{
	color:gray;
	
}
main{
	padding-top:60px;
}


